# [作業目標]


1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

# 作業

In [1]:
import numpy as np
import pandas as pd
import pandas.io.json

### 1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

### 第二個讀取中,將欄位中有"--"符號取代為 NaN

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv')
df1

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In [3]:
df2 = pd.read_csv(
    'https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv',
    keep_default_na=True,
    na_values=['na', '--']
)
df2

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

### 2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

In [4]:
import requests
r = requests.get('https://www.dcard.tw/_api/forums')
response = r.text

import json
data = json.loads(response)

In [5]:
df_f = pd.json_normalize(data)
df_f.head(5)

,id,alias,name,description,subscriptionCount,subscribed,read,createdAt,updatedAt,canPost,...,heroImage.type,heroImage.width,heroImage.height,logo.url,logo.type,logo.width,logo.height,mediaThreshold.RACY,mediaThreshold.ADULT,mediaThreshold.VIOLENCE
0,7f125e07-4460-4ea5-80b5-33f0e9aafa0c,midnightlab,午夜實驗室,午夜實驗室10/6、10/7即將在華山登場！這裏提供大家交流活動資訊與討論，請大家要遵守 D...,1748,False,False,2016-05-14T19:15:15.698Z,2021-04-20T08:36:58.712Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c0ed3f99-ed1c-49a8-b413-ed5e925aafe4,timecapsule,時光膠囊,Dcard 九週年最終章！告別動盪不安的 2020，說好了，2021 我們一起活得更努力！請...,4279,False,False,2016-05-14T20:15:15.698Z,2021-01-07T07:24:57.455Z,False,...,image/jpeg,1800.0,600.0,https://megapx-assets.dcard.tw/images/18ce292e...,image/jpeg,200.0,200.0,NaN,NaN,NaN
2,cc2164ae-88cd-466d-b11b-19e4b1f6f78c,mother,母親節,Dcard 母親節限定板，告訴媽媽我愛妳！,372,False,False,2016-05-14T22:15:15.699Z,2021-04-20T08:36:35.702Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11e8d941-0aad-4960-8348-b27c36270fd1,merryxmas,聖誕CiaoCiao,期間限定開啟！只要是和聖誕節有關的事情，或是和「禮物」有關的東西通通都來分享吧！,17311,False,False,2016-05-17T00:11:15.742Z,2021-04-20T08:36:54.019Z,False,...,image/jpeg,1800.0,600.0,https://megapx-assets.dcard.tw/images/1d36a792...,image/jpeg,200.0,200.0,NaN,NaN,NaN
4,8d5cabde-d0df-479f-8ab7-153209317537,father,父親節,Dcard 父親節特輯，上傳爸爸帥照，寫下真摯文字，一起謝謝我們心中的 「鋼鐵人老爸」。,370,False,False,2016-05-17T00:12:15.742Z,2017-01-01T10:36:38.235Z,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_f.sort_values(by='subscriptionCount',inplace=True,ascending=False)

In [7]:
df_f.head(5)

,id,alias,name,description,subscriptionCount,subscribed,read,createdAt,updatedAt,canPost,...,heroImage.type,heroImage.width,heroImage.height,logo.url,logo.type,logo.width,logo.height,mediaThreshold.RACY,mediaThreshold.ADULT,mediaThreshold.VIOLENCE
373,1ce3ebca-8701-42d5-b14c-076fc629bc8e,sex,西斯,西斯板（Sex）提供男女私密話題分享或性教育等情慾議題討論，若有性方面相關問題也可在此發問。...,560738,False,False,2020-02-04T07:52:53.573Z,2021-04-29T03:03:06.671Z,False,...,image/jpeg,1800.0,600.0,https://megapx-assets.dcard.tw/images/24f4f7ef...,image/jpeg,200.0,200.0,1.0,1.0,1.0
228,42851318-b9e2-4a75-8a05-9fe180becefe,relationship,感情,無論是遠距離戀愛、情侶間的有趣互動、分手後的藕斷絲連等...都可以在感情板分享你們的愛情故事...,494387,False,False,2020-02-04T07:28:43.573Z,2021-04-20T08:36:40.391Z,False,...,image/jpeg,7500.0,2500.0,https://megapx-assets.dcard.tw/images/c99966a1...,image/jpeg,200.0,200.0,NaN,NaN,NaN
224,be1a095b-175e-4523-9e06-66a05d939676,dressup,穿搭,穿搭板提供各種服裝搭配、包鞋、飾品配件等相關話題討論。\n歡迎分享自己的日常穿搭，或任何潮流...,479696,False,False,2020-02-04T07:28:03.573Z,2021-04-20T08:36:37.330Z,False,...,image/jpeg,1801.0,601.0,https://megapx-assets.dcard.tw/images/cd6b2192...,image/jpeg,200.0,200.0,NaN,NaN,NaN
217,cbd5285f-3cba-4bfc-86d0-1ab52d201459,makeup,美妝,不管你喜歡開架彩妝還是專櫃彩妝，美妝板提供各種最新彩妝開箱評比、粉底色號、唇膏試色、眼影試色...,398795,False,False,2020-02-04T07:26:53.573Z,2021-04-20T08:36:35.733Z,False,...,image/jpeg,1801.0,601.0,https://megapx-assets.dcard.tw/images/f5ff9184...,image/jpeg,200.0,200.0,NaN,NaN,NaN
273,de977130-f3eb-467b-822e-b0e91124e9eb,food,美食,美食板歡迎分享各種吃貨食記心得，或提供手搖飲料、校園美食、美食情報等文章！,338615,False,False,2020-02-04T07:36:13.573Z,2021-04-20T08:36:35.879Z,False,...,image/jpeg,1800.0,600.0,https://megapx-assets.dcard.tw/images/24f78ac5...,image/jpeg,200.0,200.0,NaN,NaN,NaN

In [8]:
df_f.to_csv('dcard_f.csv')
%ls -l dcard_f.csv

-rw-rw-r-- 1 zach zach 349759 May  9 19:50 dcard_f.csv